.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 28px;
    padding-left: 48px;
    padding-right: 48px;
}

@media screen and (max-width: 1270px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 1020px) {
    .header {
        max-width: 720px;
        padding: 28px 24px 0 24px;
    }
}

@media screen and (max-width: 760px) {
    .header {
        max-width: 288px;
        padding: 16px 16px 0px 16px;
    }
}
